rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }
    function isAdmin() {
      return signedIn()
        && firestore.exists(/databases/(default)/documents/members/$(request.auth.uid))
        && firestore.get(/databases/(default)/documents/members/$(request.auth.uid)).data.role == "admin";
    }

    match /products/{allPaths=**} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
